header.top-bar {
    position: fixed;
    top: 50px;left: 0px;right: 0px;
    z-index: 3;
    transition: 0.4s;
}
header.top-bar.active {
    top: 0px;
    height: 65px;
    border-bottom: 1px solid #ddd;
}
header.top-bar.active button {
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 90%;
}
header.top-bar .icon {
    width: 40px;
    height: 40px;
}
header.top-bar .title {
    font-size: 22px;
}
header.top-bar .menu li {
    list-style: none;
    padding: 0px 25px;
}
header.top-bar a {
    color: #444;
}

header.top-bar .SearchForm {
    background-color: #eee;
    width: 100%;
    height: 40px;
}
header.top-bar .SearchForm input {
    height: 40px;
    width: 90%;
    border: none;
    margin: 0px;
    border-radius: 0px;
    background: none;
}
header.top-bar .SearchForm button {
    width: 40px;
    padding: 0px;
    background: none;
}
header.top-bar .initial {
    width: 40px;
    height: 40px;
    font-size: 12px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.top-bar .profile-menu {
    position: fixed;
    top: 125px;
    right: -25%;
    width: 20%;
    background-color: #fff;
    transition: 0.4s;
    box-shadow: 1px 1px 5px 1px #ddd;
}
header.top-bar .profile-area:focus .profile-menu,
header.top-bar .profile-area .profile-menu:hover {
    right: 5%;
}
header.top-bar.active .profile-menu {
    top: 65px;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: none;
}
header.top-bar .profile-menu li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 25px;
}
header.top-bar .profile-menu li .icon { 
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}