.content {
    position: absolute;
    top: 65px;left: 0px;right: 0px;
}
.content pre {
    font-size: 17px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 28px;
}